* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
}

body,
input,
textarea,
button,
legend {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Roboto Mono", sans-serif;
}

@media (max-width: 1920px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 87.5%;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
